.promo{
    position: relative;
    max-width: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #fff;
    padding: 60px 0;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    margin-bottom: -105px;
    .promo__heading{
        margin-bottom: 15px;
        border: none;
    }
}
.promo__btn--modify{
    margin-top: 20px;
    padding: 24px 105px;
    border-radius: 40px;
    background-color: @color;
    color: #fff;
    font-size: 20px;
    border: none;
}
@media( max-width:992px){
    .promo{
        width: 90%;
        .promo__heading{
            font-size: 22px;
        }.promo__btn{
            padding: 15px 30px;
            font-size: 16px;
        }
    }
}