.cards{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.cards__conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 10px 40px;
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10px 50px 65px;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.12);
    margin-bottom: 40px;
    border-radius: 10px;
}
.card__img{
    width: 100%;
    max-width: 520px;
    padding: 15px 80px 15px 60px;
}
.card__content{
    padding-left: 70px;
}
.card__heading{
    margin: 10px 0px;
}
.card__paragraphs{
    width: 90%;
}
.card--left{
    margin-right: 0px; 
}
@media (max-width: 992px){
    .cards{
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }
    .card{
        flex-direction: column;
        padding-right: 10px;
        padding-left: 10px;
        margin-left: 10px;
    }
    .card__img{
        width: 80%;
    }
    .card__paragraphs{
        width: 100%;
        padding: 0;
        margin: auto;
    }
    .card--1,
    .card--3{
        flex-direction: column-reverse;
    }
    .card__content{
        padding-left: 10px;
        padding-right: 10px;
        width: 95%;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}